[submodule "external/parlaylib"]
	path = external/parlaylib
	url = https://github.com/ParAlg/parlaylib
[submodule "external/PAM"]
	path = external/PAM
	url = https://github.com/ldhulipala/PAM
[submodule "SIMDCAI"]
	path = external/SIMDCAI
	url = https://github.com/lemire/SIMDCompressionAndIntersection.git
