# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/*

train
gpu_train
cpu_train
gpu_train_*
cpu_train_*
train_*

.vscode

env.sh
.prettierignore
inputs/reddit
inputs/ogbn-products
inputs/pubmed